
@media screen and (max-width: 575px) 
    { 
        #supplierInfoCard
        {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
#logoFont
{
  font-family: 'Tajawal', sans-serif;
}
body
{
    font-family: 'Tajawal', sans-serif;
}